@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #252422;
  font-family: "Average Sans", sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #252422;
  font-family: "Open Sans", sans-serif;
}
body p {
  font-size: 2rem;
}
body h1 {
  font-size: 4.8rem;
}
body h2 {
  font-size: 3.6rem;
}
body h3 {
  font-size: 2.4rem;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.prefix {
  font-size: 2.6rem;
  color: #474541;
}

.main-btn {
  display: block;
  padding: 0.3em 0;
  width: 5em;
  height: 2em;
  border-radius: 0.3em;
  border: none;
  background-color: #EB5E28;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s;
  font-family: "Open Sans", sans-serif;
}
.main-btn:hover {
  transform: scale(1.05);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 7%;
  left: 50%;
  margin-top: 10em;
  width: 100%;
  height: 5em;
  z-index: 100;
}
nav::after {
  position: absolute;
  top: -100%;
  left: -50%;
  content: "";
  width: 200%;
  height: 200%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(204, 197, 185, 0.5) 75%);
  z-index: -10;
}
nav .burger {
  display: none;
  position: relative;
  width: 5em;
  height: 100%;
  background-color: #fff;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 0 15px rgba(204, 197, 185, 0.5960784314);
  cursor: pointer;
}
nav .burger i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transition: color 0.3s;
}
nav .burger:hover > i {
  color: #EB5E28;
}
nav .logo {
  width: 20%;
  height: 100%;
  background-color: #EB5E28;
  border-radius: 0.3em;
  box-shadow: 0 0 15px rgba(204, 197, 185, 0.5960784314);
}
nav .logo p {
  margin-left: 50px;
  color: #fff;
  font-size: 3.5rem;
}
nav .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(204, 197, 185, 0.5960784314);
  border-radius: 0.3em;
}
nav .menu .exit {
  display: none;
}
nav .menu a {
  padding: 0.4em;
  margin: 0 0.3em;
  font-size: 2em;
  text-decoration: none;
  color: #252422;
  transition: all 0.3s;
}
nav .menu a:hover {
  transform: scale(1.05);
  font-weight: bold;
  color: #EB5E28;
}

.header {
  position: relative;
  width: 100%;
  height: 70em;
}
.header .bg-shadow {
  position: absolute;
  top: 10%;
  left: -10%;
  width: 65em;
  height: 100em;
  border-radius: 70% 30% 61% 39%/46% 67% 33% 54%;
  background-color: #CCC5B9;
  opacity: 0.1;
  filter: blur(2px);
  animation: heder-img-bg 8s linear infinite;
  z-index: -20;
}
.header .header-content {
  display: flex;
  margin-top: 3em;
  height: 100%;
  width: 100%;
}
.header .header-content .text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  width: 45%;
  height: 100%;
}
.header .header-content .text-area h1 {
  color: #EB5E28;
}
.header .header-content .text-area p {
  margin: 1em 0 1.5em;
}
.header .header-content .text-area .prefix {
  margin-bottom: 0.5em;
}
.header .header-content .text-area .icon-area {
  margin-top: 6.5em;
  width: 15em;
  height: 3em;
  display: flex;
  justify-content: space-between;
}
.header .header-content .text-area .icon-area a {
  font-size: 3em;
  transition: transform 0.3s;
  color: #CCC5B9;
}
.header .header-content .text-area .icon-area a:hover {
  transform: scale(1.1);
  color: #EB5E28;
}
.header .header-content .img-area {
  display: flex;
  align-items: center;
  width: 55%;
  height: 100%;
  z-index: 1;
}
.header .header-content .img-area .header-img {
  position: relative;
  width: 100%;
  height: 60%;
  border-radius: 72% 28% 55% 45%/70% 63% 37% 30%;
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  animation: heder-img 15s linear infinite;
}
.header .header-content .img-area .header-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 102%;
  transform: scale(1.08);
  border-radius: 72% 28% 55% 45%/70% 63% 37% 30%;
  background-color: #CCC5B9;
  animation: heder-img-after 15s linear infinite;
  z-index: -1;
}

.abaout {
  display: flex;
  align-items: center;
  min-height: 60em;
  width: 100%;
}
.abaout .abaout-content {
  height: 100%;
  width: 100%;
}
.abaout .abaout-content .abaout-heding {
  width: 100%;
  height: 23%;
  text-align: center;
  padding-bottom: 3em;
}
.abaout .abaout-content .abaout-elements {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 77%;
}
.abaout .abaout-content .abaout-elements .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0.5em;
  margin-top: 5em;
  width: 25%;
  height: 100%;
  text-align: center;
}
.abaout .abaout-content .abaout-elements .icon-box .icon-square {
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: #CCC5B9;
  margin-bottom: 2em;
  transition: background-color 0.3s;
}
.abaout .abaout-content .abaout-elements .icon-box .icon-square i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 4.5rem;
  color: #EB5E28;
  color: #fff;
}
.abaout .abaout-content .abaout-elements .icon-box:hover .icon-square {
  background-color: #EB5E28;
}

.service {
  position: relative;
}
.service .service-content {
  display: flex;
  align-items: center;
  padding: 10em 0;
  min-height: 60em;
  width: 100%;
}
.service .service-content .service-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.service .service-content .service-column .service-text-area {
  margin: 3em 0;
  padding: 0em 2.8em;
  width: 100%;
  height: 20em;
}
.service .service-content .service-column .service-text-area h2 {
  color: #EB5E28;
}
.service .service-content .service-column .service-box {
  margin: 3em 0;
  width: 90%;
  min-height: 35em;
  border-radius: 0.3em;
  overflow: hidden;
}
.service .service-content .service-column .service-box strong {
  color: #EB5E28;
  font-size: 1.2em;
}
.service .service-content .service-column .service-box .service-img {
  position: relative;
  width: 100%;
  height: 30em;
  border-radius: 0.3em;
}
.service .service-content .service-column .service-box .service-img__one {
  background-image: url(../img/muzyka.jpg);
  background-size: cover;
}
.service .service-content .service-column .service-box .service-img__two {
  background-image: url(../img/katering.jpg);
  background-size: cover;
}
.service .service-content .service-column .service-box .service-img__three {
  background-image: url(../img/fotograf.jpg);
  background-size: cover;
}
.service .service-content .service-column .service-box .service-img__for {
  background-image: url(../img/namiot.jpg);
  background-size: cover;
}
.service .service-content .service-column .service-box .service-img__fift {
  background-image: url(../img/animacje.jpg);
  background-size: cover;
}
.service .service-content .service-column .service-box .service-img__six {
  background-image: url(../img/gryll.jpg);
  background-size: cover;
}
.service .service-content .service-column .service-box .service-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(204, 197, 185);
  background: linear-gradient(0deg, rgb(204, 197, 185) 22%, rgb(235, 94, 40) 62%);
  opacity: 0.2;
}
.service .service-content .service-column .service-box .service-text {
  display: flex;
  align-items: center;
  padding: 0em 0.8em;
  height: 0em;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}
.service .service-content .service-column .service-box .service-text li {
  font-size: 1.8rem;
}
.service .service-content .service-column .service-box h2 {
  padding: 0.2em;
  color: #EB5E28;
}
.service .service-content .service-column .service-box:hover > .service-text {
  padding: 0.8em 0.8em;
  height: 10em;
}

.special {
  background-color: #CCC5B9;
}
.special .special-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0;
  min-height: 50em;
  width: 100%;
}
.special .special-content .special-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15em;
}
.special .special-content .special-text h2 {
  display: block;
  width: 25%;
  color: #fff;
}
.special .special-content .special-text p {
  display: block;
  width: 65%;
  color: #fff;
}
.special .special-content .special-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.special .special-content .special-img .special-img-box {
  width: 47%;
  height: 100%;
  cursor: pointer;
}
.special .special-content .special-img .special-img-element {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 30em;
  border-radius: 0.3em;
  cursor: pointer;
}
.special .special-content .special-img .special-img-element__one {
  background-image: url(../img/duch-zdjęcie.jpg);
  background-size: cover;
  background-position: center;
}
.special .special-content .special-img .special-img-element__two {
  background-image: url(../img/zagadka.jpg);
  background-size: cover;
  background-position: center;
}
.special .special-content .special-img .special-img-element h3 {
  padding: 0.5em;
  color: #fff;
  font-size: 3.5rem;
  text-shadow: 0 0 15px #252422;
  z-index: 2;
}
.special .special-content .special-img .special-img-element:hover > h3 {
  display: block;
}

.accordeon {
  position: relative;
}
.accordeon .accordeon-content {
  display: flex;
  padding: 10em 0 1em;
  min-height: 50em;
  width: 100%;
}
.accordeon .accordeon-content .accordeon-elements {
  width: 60%;
  min-height: 38em;
}
.accordeon .accordeon-content .accordeon-elements .accordeon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
  min-height: 8em;
  border-radius: 0.3em;
}
.accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title i {
  font-size: 2.5em;
  transition: all 0.3s;
  color: #EB5E28;
}
.accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title h3 {
  color: #EB5E28;
}
.accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title:hover i {
  transform: rotate(90deg);
}
.accordeon .accordeon-content .accordeon-elements .accordeon-box .box-text {
  padding-top: 2em;
  height: 0em;
  overflow: hidden;
  transition: all 0.3s;
}
.accordeon .accordeon-content .accordeon-text {
  padding: 0.1em 3em 1em;
  width: 40%;
  height: 38em;
}
.accordeon .accordeon-content .accordeon-text h2 {
  color: #252422;
}

.contact .contact-content {
  display: flex;
  padding: 10em 0;
  min-height: 58em;
  width: 100%;
}
.contact .contact-content .contact-img {
  padding: 1em;
  height: 55em;
  width: 40%;
}
.contact .contact-content .contact-img .contact-img-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 35% 65% 70% 30%/30% 73% 27% 70%;
  background-color: rgba(0, 0, 139, 0.65);
  background-image: url(../img/kontakt.jpg);
  background-position: center;
  background-size: cover;
  animation: contact-img 20s infinite;
}
.contact .contact-content .contact-img .contact-img-content::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 35% 65% 70% 30%/30% 73% 27% 70%;
  background: rgb(204, 197, 185);
  background: linear-gradient(0deg, rgb(204, 197, 185) 22%, rgb(235, 94, 40) 62%);
  opacity: 0.2;
  animation: contact-img 20s infinite;
  z-index: 2;
}
.contact .contact-content .contact-img .contact-img-content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 35% 65% 70% 30%/30% 73% 27% 70%;
  background-color: #CCC5B9;
  transform: scale(1.1);
  animation: contact-img 21s infinite;
  z-index: -1;
}
.contact .contact-content .contact-form {
  height: 50em;
  padding: 0 5em;
  width: 60%;
}
.contact .contact-content .contact-form h2 {
  margin-bottom: 0.5em;
}
.contact .contact-content .contact-form .form-row {
  display: flex;
  padding: 0.7em 0;
  justify-content: space-between;
  width: 100%;
}
.contact .contact-content .contact-form .form-row .form-column {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.contact .contact-content .contact-form .form-row .form-column .label-row {
  display: flex;
  margin: 0.8em 0 0.6em;
}
.contact .contact-content .contact-form .form-row .form-column .label-row .label-icon {
  margin: 0.2em 0;
  width: 2em;
  height: 2em;
}
.contact .contact-content .contact-form .form-row .form-column .label-row .label-icon i {
  font-size: 2rem;
  color: #EB5E28;
}
.contact .contact-content .contact-form .form-row .form-column .label-row label {
  margin-left: 0.4em;
  position: relative;
  font-size: 2rem;
}
.contact .contact-content .contact-form .form-row .form-column input {
  margin: 0.5em 0;
  padding: 0em 0.5em;
  width: 100%;
  height: 2.8em;
  border: 0.1em solid #CCC5B9;
  border-radius: 0.3em;
}
.contact .contact-content .contact-form .form-row .form-column textarea {
  max-width: 208%;
  padding: 0em 0.5em;
  width: 208%;
  min-height: 15em;
  border-radius: 0.3em;
  border: 0.1em solid #CCC5B9;
}
.contact .contact-content .contact-form input {
  margin-top: 0.5em;
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.plus {
  padding: 2em 0 0 8em;
  min-height: 28em;
  width: 100%;
  text-align: left;
}
.plus h3 {
  color: #CCC5B9;
  font-size: 5em;
  padding-bottom: 0.8em;
}

.footer {
  background-color: #EB5E28;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10em 0 0;
  min-height: 50em;
  width: 100%;
}
.footer .footer-content .footer-box {
  display: flex;
  flex-direction: column;
  height: 35em;
  width: 50%;
}
.footer .footer-content .footer-box .logo-footer {
  color: #fff;
  font-size: 10rem;
  margin-bottom: 0.5em;
}
.footer .footer-content .footer-box a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  margin-bottom: 1em;
}
.footer .footer-content .footer-autor {
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100%;
}
.footer .footer-content .footer-autor a {
  color: #fff;
  font-size: 1.8em;
  text-decoration: none;
}

.test {
  position: relative;
  width: 100%;
  height: 80em;
  background-image: url(../img/lion.jpg);
  background-size: cover;
  z-index: 1;
}
.test h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  font-size: 19em;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: -2;
}
.test .test-up {
  width: 100%;
  height: 100%;
  background-image: url(../img/lioncięte.png);
  background-size: cover;
  z-index: 10;
}

.show-menu {
  animation: show-menu 0.7s linear forwards;
}

.hide-menu {
  animation: hide-menu 0.7s linear forwards;
}

.add-height {
  height: 12em !important;
}

@media (max-width: 992px) {
  .header .header-content .text-area h1 {
    font-size: 4rem;
  }
  .header .header-content .text-area p {
    font-size: 1.8rem;
  }
  .header .header-content .text-area .prefix {
    font-size: 2.2rem;
  }
  .header .header-content .img-area .header-img {
    width: 90%;
    height: 60%;
    background-position: -100px 0px;
  }
  .abaout .abaout-content .abaout-elements .icon-box p {
    font-size: 1.8rem;
  }
  .service .service-content .service-column .service-text-area p {
    font-size: 1.8rem;
  }
  .special .special-content .special-text p {
    font-size: 1.8rem;
  }
  .plus {
    padding: 3em 0 0 5em;
  }
  .plus h3 {
    font-size: 4em;
  }
}
@media (max-width: 900px) {
  nav .menu a {
    font-size: 1.8em;
  }
}
@media (max-width: 768px) {
  nav .burger {
    display: inline;
  }
  .header {
    height: 100em;
  }
  .header .header-content {
    flex-direction: column;
  }
  .header .header-content .text-area {
    justify-content: center;
    text-align: center;
    padding: 13em 8em 0em;
    width: 100%;
    height: 100%;
  }
  .header .header-content .text-area .icon-area {
    margin: 3em auto;
  }
  .header .header-content .text-area .main-btn {
    margin: 0 auto;
  }
  .header .header-content .img-area {
    margin: 0 auto;
    width: 85%;
    height: 100%;
  }
  .header .header-content .img-area .header-img {
    width: 100%;
    height: 80%;
    background-position: center;
  }
  .abaout .abaout-content .abaout-heding .prefix {
    font-size: 2.2rem;
  }
  .abaout .abaout-content .abaout-heding h2 {
    font-size: 3rem;
  }
  .abaout .abaout-content .abaout-elements .icon-box .icon-square {
    width: 8em;
    height: 8em;
  }
  nav .menu {
    position: absolute;
    top: -70%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 12em 2em 0;
    width: 60%;
    height: 100vh;
  }
  nav .menu .exit {
    position: absolute;
    top: 6%;
    right: 15%;
    display: inline;
    width: 5em;
    height: 5em;
    cursor: pointer;
  }
  nav .menu .exit i {
    font-size: 4.5rem;
    transition: all 0.3s;
  }
  nav .menu .exit i:hover {
    color: #EB5E28;
  }
  nav .menu a {
    padding: 1em 0;
    font-size: 2.5em;
    text-decoration: none;
    color: #252422;
    transition: all 0.3s;
  }
  .service .service-content {
    flex-direction: column;
  }
  .service .service-content .service-column {
    flex-direction: column;
    width: 100%;
  }
  .special .special-content .special-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .special .special-content .special-img .special-img-box {
    margin: 1em 0;
    width: 100%;
  }
  .accordeon {
    position: relative;
  }
  .accordeon .accordeon-content {
    display: flex;
    flex-direction: column;
  }
  .accordeon .accordeon-content .accordeon-elements {
    width: 100%;
  }
  .accordeon .accordeon-content .accordeon-elements .accordeon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    padding: 1em;
    width: 100%;
    min-height: 8em;
    border-radius: 0.3em;
  }
  .accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title i {
    font-size: 2.5em;
    transition: all 0.3s;
    color: #EB5E28;
  }
  .accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title h3 {
    color: #EB5E28;
  }
  .accordeon .accordeon-content .accordeon-elements .accordeon-box .box-title:hover i {
    transform: rotate(90deg);
  }
  .accordeon .accordeon-content .accordeon-elements .accordeon-box .box-text {
    padding-top: 2em;
    height: 0em;
    overflow: hidden;
    transition: all 0.3s;
  }
  .accordeon .accordeon-content .accordeon-text {
    padding: 0.1em 2em 1em 0.9em;
    width: 100%;
    height: 100%;
  }
  .contact .contact-content {
    flex-direction: column;
    width: 100%;
  }
  .contact .contact-content .contact-img {
    padding: 1em 0 0 2em;
    height: 35em;
    width: 90%;
  }
  .contact .contact-content .contact-form {
    margin-top: 5em;
    height: 50em;
    padding: 0 5em;
    width: 100%;
  }
  .plus {
    padding: 5em 0;
    text-align: center;
    width: 100%;
  }
  .plus h3 {
    font-size: 3.5em;
  }
  .footer .footer-content .footer-autor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    height: 5em;
    width: 100%;
  }
  .footer .footer-content .footer-autor a {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
  }
}
@media (max-width: 700px) {
  .abaout {
    padding: 10em 0;
  }
  .abaout .abaout-content .abaout-heding .prefix {
    font-size: 2.2rem;
  }
  .abaout .abaout-content .abaout-heding h2 {
    font-size: 3rem;
  }
  .abaout .abaout-content .abaout-elements {
    flex-direction: column;
    align-items: center;
  }
  .abaout .abaout-content .abaout-elements .icon-box {
    margin-top: 1.5em;
    width: 50%;
  }
  .abaout .abaout-content .abaout-elements .icon-box p {
    font-size: 1.8rem;
  }
}
@media (max-width: 576px) {
  .header {
    height: 60em;
  }
  .header .header-content {
    flex-direction: column;
  }
  .header .header-content .text-area .icon-area {
    margin: 3em auto;
  }
  .header .header-content .text-area .main-btn {
    margin: 0 auto;
  }
  .header .header-content .img-area {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    margin: 0 auto;
    z-index: -3;
    opacity: 0.2;
  }
  .header .header-content .img-area .header-img {
    width: 100%;
    height: 50%;
    background-position: center;
  }
  .plus h3 {
    font-size: 3em;
  }
}
@keyframes heder-img {
  0% {
    border-radius: 72% 28% 55% 45%/70% 63% 37% 30%;
  }
  50% {
    border-radius: 68% 32% 53% 47%/59% 44% 56% 41%;
  }
  100% {
    border-radius: 72% 28% 55% 45%/70% 63% 37% 30%;
  }
}
@keyframes heder-img-after {
  0% {
    border-radius: 72% 28% 55% 45%/70% 63% 37% 30%;
  }
  50% {
    border-radius: 70% 30% 61% 39%/46% 64% 36% 54%;
  }
  100% {
    border-radius: 72% 28% 55% 45%/70% 63% 37% 30%;
  }
}
@keyframes heder-img-bg {
  0% {
    border-radius: 70% 30% 61% 39%/46% 67% 33% 54%;
  }
  50% {
    border-radius: 47% 53% 35% 65%/56% 43% 57% 44%;
  }
  100% {
    border-radius: 70% 30% 61% 39%/46% 67% 33% 54%;
  }
}
@keyframes show-menu {
  from {
    right: -100%;
  }
  to {
    right: -10%;
  }
}
@keyframes hide-menu {
  from {
    right: -10%;
  }
  to {
    right: -100%;
  }
}
@keyframes contact-img {
  0% {
    border-radius: 35% 65% 70% 30%/30% 73% 27% 70%;
  }
  50% {
    border-radius: 60% 40% 47% 53%/50% 56% 44% 50%;
  }
  100% {
    border-radius: 35% 65% 70% 30%/30% 73% 27% 70%;
  }
}/*# sourceMappingURL=main.css.map */